body {
    margin: 0;
    padding: 0;
    width: 100%;
}

.section{
    width: 100%;
    height: 720px;
}

#main{
  background-color: #343434;
  text-align: center;
  display:table;
}

#contededor{
  display:table-cell;
  vertical-align:middle;
}

#submainTitle1{
  color: #FFFFFF;
  font-size: 24px;
  font-family: 'Fira Sans', sans-serif;
}

#Line{
  background-color: #FFFFFF;
  height: 0.5px;
  width: 50%
}

#html_welcome{
    background-color: #ff8000;
    overflow: hidden;
}

#izquierda1{
    background-color: #EC6600;
}

#container{
  display:table-cell;
  vertical-align:middle;
}

#submainTitle2{
  color: #FFFFFF;
  font-size: 21px;
  font-family: 'Fira Sans', sans-serif;
}

#derecha1{
  background-color: #ff8000;
}

#container2{
  display:table-cell;
  vertical-align:middle;
}

#imagen1{
  display: block;
  margin: auto;
}

#css_welcome{
    background-color: #005792;
    overflow: hidden;
}

#Izquierda2{
  background-color: #005792;
}

#container3{
  display:table-cell;
  vertical-align:middle;
}

#imagen2{
  display: block;
  margin: auto;
}
.subsection
{
  float: left;
  width: 50%;
  height: 100%;
  color: #fff;
  text-align: center;
  display:table;
}

#derecha2{
  background-color: #004E83;s
}

#container4{
  display:table-cell;
  vertical-align:middle;
}

#submainTitle3{
  color: #FFFFFF;
  font-size: 21px;
  font-family: 'Fira Sans', sans-serif;
}
#mainTitle{

  font-size: 90px;
}

#js_welcome{
    background-color: #e6b31e;
    overflow: hidden;
}

#izquierda3{
  background-color: #CFA11C;
}

#container5{
  display:table-cell;
  vertical-align:middle;
}

#team_welcome{
    background-color: #cacaca;
    height: 500px;
    display: table;
}
#dinosaurio{
  width: 50%;
  height: 100%;
  float: left;
}
#dinoText{
  padding-top: 7%;
  width: 50%;
  height: 100%;
  float: left;
  text-align: right;
}
#imagenDino{
  width: 50%;
  height: 100%;
  float: left;
}
#imgDino{
  width: 700px;
  height: 120%;
  display: block;
  margin: none;
  
}

.title {
  color: #FFFFFF;
  font-size: 72px;
  font-family: 'Hammersmith One', sans-serif;
}

.text{
  color: #FFFFFF;
  font-size: 21px;
  font-family: 'Fira Sans', sans-serif;

}

.subsection2{
  display: block;
}

footer{
  background-color: #343434;
  width: 100%;
  height: 120px;
}

.boton
{
  font-size: 18px;
  font-family: 'Hind', sans-serif;
  border-radius: 50px;
  border:none;
  text-align: center;
  background-color: #FFF;
  padding: 8px 25px 8px 25px;
}

.boton:hover,
.boton:focus {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateY(-0.25em);
  cursor: pointer;
}

#derecha3{
  background-color: #e6b31e;
}
#container6{
  display:table-cell;
  vertical-align:middle;
}
#imagen3{
  display: block;
  margin: auto;
}



#contact{
    background-color: #fff;
    height: 520px;
}

#tomato{
    display: flex;
    padding: 0% 10% 2% 10%;
}

#left, #right{
    display: left;
    width: 50%;
    height: 100%;
    margin:0;
}

#left{
    padding-left: 15%;
}
#right{
    padding-right: 5%;
}
#botonContacto{
  background-color: #a7d129;
  color: #fff;
  outline: none;
}

#footContacto{
    padding-left: 46%;
    padding-right: 50%;
    padding-top: 3%;
}

#contactoTitle{
  font-family: 'Hammersmith One',sans-serif;
  text-align: center;
  padding-top: 3%;
  padding-bottom: 2%;
  font-size: 58px;
  color: #343434;
}

/* info del navbar copiado */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-left: 1.4%;
    overflow: hidden;
    background-color: #222;
    /* si lo queremos sticky */
    /*
    position: sticky;
    top: 0;
    */

    /* si lo queremos sticky */
}

li {
    float: right;
    font-family: 'Hind',sans-serif;
}

#mau{ /*esta porqueria funcionó*/
    float: left;
    padding-top: 6px;
}

li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: #111;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
  background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
    display: inline-block;
}

/* info del navbar copiado */

p{
    font-family: 'Hammersmith One',sans-serif;
    font color: #343434;
    font-size: 16px;

}

input, textarea{
    background-color: #ece8d9   ;
    border: 0;
    font-family: 'Hind', sans-serif;
    font-size: 15px;
    border-radius:7px;
    color: #333;
    padding-left: 2%;
    resize: none;
}
