body {
    margin: 0;
    padding: 0;
    width: 100%;
}

.section{
    width: 100%;
    height: 720px;
}

#main{
  background-color: #343434;
  text-align: center;
  display:table;
}

#contededor{
  display:table-cell;
  vertical-align:middle;
}

#submainTitle1{
  color: #FFFFFF;
  font-size: 24px;
  font-family: 'Fira Sans', sans-serif;
}

#Line{
  background-color: #FFFFFF;
  height: 0.5px;
  width: 50%
}

#html_welcome{
    background-color: #ff8000;
    overflow: hidden;
}

#izquierda1{
    background-color: #EC6600;    
}

#container{
  display:table-cell;
  vertical-align:middle;
}

#submainTitle2{
  color: #FFFFFF;
  font-size: 21px;
  font-family: 'Fira Sans', sans-serif;
}

#derecha1{
  background-color: #ff8000;
}

#container2{
  display:table-cell;
  vertical-align:middle;
}

#imagen1{
  display: block;
  margin: auto;
}

#css_welcome{
    background-color: #005792;
    overflow: hidden;
}

#Izquierda2{
  background-color: #005792;
}

#container3{
  display:table-cell;
  vertical-align:middle;
}

#imagen2{
  display: block;
  margin: auto;
}
.subsection
{
  float: left;
  width: 50%;
  height: 100%;
  color: #fff;
  text-align: center;
  display:table;
}

#derecha2{
  background-color: #004E83;s
}

#container4{
  display:table-cell;
  vertical-align:middle;
}

#submainTitle3{
  color: #FFFFFF;
  font-size: 21px;
  font-family: 'Fira Sans', sans-serif;
}
#mainTitle{

  font-size: 90px;
}
/*
#boton2{
  font-size: 18px;
  font-family: 'Hind', sans-serif;
  border-radius: 50px;
  border:none;
  text-align: center;
}
*/

#js_welcome{
    background-color: #e6b31e;
    overflow: hidden;
}

#izquierda3{
  background-color: #CFA11C;  
}

#container5{
  display:table-cell;
  vertical-align:middle;
}

.title {
  color: #FFFFFF;
  font-size: 72px;
  font-family: 'Hammersmith One', sans-serif;
}

.text{
  color: #FFFFFF;
  font-size: 21px;
  font-family: 'Fira Sans', sans-serif;
  
}

.subsection2{
  display: flex;
}

footer{
  background-color: #343434;
  width: 100%;
  height: 120px;
}



/*
#boton3{
  font-size: 18px;
  font-family: 'Hind', sans-serif;
  border-radius: 50px;
  border:none;
  text-align: center;
}
*/

.boton
{
  font-size: 18px;
  font-family: 'Hind', sans-serif;
  border-radius: 50px;
  border:none;
  text-align: center;
  background-color: #FFF;
  padding: 8px 25px 8px 25px;
}

#derecha3{
  background-color: #e6b31e;
}
#container6{
  display:table-cell;
  vertical-align:middle;
}
#imagen3{
  display: block;
  margin: auto;
}

#team_welcome{
    background-color: #cacaca;
    height: 500px;
}

#contact{
    background-color: #fff;
    height: 360px;
}
#botonContacto{
  background-color: #a7d129;
  color: #fff;
}

#contactoTitle{
  font-family: 'Hammersmith One',sans-serif;
  text-align: center;
  padding-top: 3%;
  padding-bottom: 2%;
  font-size: 58px;
  color: #343434;
}

