body {
    margin:0
}
ul {
    border-top: 2px solid red;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    height:4%;
    padding: 1px;
}

li {
    float: right;
}

li a {
    color: white;
    padding: 16px;
    text-decoration: none;
}
li i{

  color:white;

}
.w3ls_header_middle {
    padding: 0 0;
     /*padding-top:30px*/

}
.agileits_logo{
	float:right;
	margin-right:0em;
    margin-top:2em;




}
.agileits_banner {

	float:left;
    margin-left:1em;


}

.nav ul {
  list-style: none;

  background-color: #444;
    /*background-color:  #39bd00;*/
  text-align: center;
  padding: 0;
  margin: 0;

}
.nav li {
  font-family: 'Oswald', sans-serif;
  font-size: 1.2em;
  line-height: 40px;
  height: 40px;
  border-bottom: 1px solid #888;
}

.nav a {
  text-decoration: none;
  color: #fff;
  display: block;
  transition: .3s background-color;
}

.nav a:hover {
  background-color: #005f5f;
}

.nav a.active {
  background-color: #fff;
  color: #444;
  cursor: default;
}

@media screen and (min-width: 600px) {
  .nav li {
    width: 120px;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
  }

  /* Option 1 - Display Inline */
  .nav li {
    display: inline-block;
    margin-right: -4px;
  }

}
